
@model IEnumerable<Commodity>
@{
    ViewBag.Title = "Dairy";
}


<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Dairy</h3>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption style="color: black;">Vegetables sales Statistics report</caption>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(e => e.CommodityID)</th>
                    <th>@Html.DisplayNameFor(e => e.CommodityName)</th>
                    <th>@Html.DisplayNameFor(e => e.Group.GroupName)</th>
                    <th>@Html.DisplayNameFor(e => e.Sector.SectorName)</th>
                    <th>@Html.DisplayNameFor(e => e.DataItem)</th>
                    <th>@Html.DisplayNameFor(e => e.Value)</th>
                    <th>@Html.DisplayNameFor(e => e.CV)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<Commodity>)ViewData["Dairy"])
                {
                    <tr>
                        <td>@item.CommodityID</td>
                        <td>@item.CommodityName</td>
                        <td>@item.Group.GroupName</td>
                        <td>@item.Sector.SectorName</td>
                        <td>@item.DataItem</td>
                        <td>@item.Value</td>
                        <td>@item.CV</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Commodities", new { id = item.CommodityID }) |
                            @Html.ActionLink("Delete", "Delete", "Commodities", new { id = item.CommodityID })
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>









