<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<style>
    body {
        height: 100%;
        font-size: large;
        /* Center and scale the image nicely */

        background-size: cover;
        color: #ffff ;
    }
    label{
        color:white;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid ;
        
    }
    div#fruits_paginate{
        color:#ffff !important;
    }
    .dataTables_paginate .paging_simple_numbers {
        color: white
    }

    thead {
        color: white
    }
    .paging_full_numbers a.paginate_button {
        color: #ffff !important;
    }

    .paging_full_numbers a.paginate_active {
        color: #ffff !important;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #fff;
    }
    #fruits_info{
        color:#ffff;
    }
    a{
        color:white
    }
</style>
<script>
    // Basic example
    $(document).ready(function () {
        $('#fruits').dataTable();
    });
</script>

<body style="background-image: url(/images/crops.png); background-attachment: fixed; ">
    <br />
    @using AgriculturalStatistics.Models
    @model IEnumerable<Commodity>
    @{
        ViewBag.Title = "FruitsandNuts";
    }




    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><h3 style="float:left">FruitsandNuts</h3></div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" style="float:right">
                        @Html.ActionLink("Create New", "Create")
                    </button>
                </div>
            </div>
        </div>
        <br />
        <p>Only commodities that belong of group 'Fruits and Nuts' are visible here:</p>
        <div class="table-responsive">
            <table id="fruits" class="table table-bordered">
                <caption style="color: white;">Fruits and Nuts sales Statistics report</caption>
                <thead>
                    <tr>

                        <th>@Html.DisplayNameFor(e => e.CommodityName)</th>
                        <th>@Html.DisplayNameFor(e => e.Group.GroupName)</th>
                        <th>@Html.DisplayNameFor(e => e.Sector.SectorName)</th>
                        <th>@Html.DisplayNameFor(e => e.Domain)</th>
                        <th>@Html.DisplayNameFor(e => e.Year)</th>
                        <th>@Html.DisplayNameFor(e => e.DataItem)</th>
                        <th>@Html.DisplayNameFor(e => e.Value)</th>
                        <th>@Html.DisplayNameFor(e => e.CV)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<Commodity>)ViewData["FruitsNuts"])
                    {
                        <tr>

                            <td>@item.CommodityName</td>
                            <td>@item.Group.GroupName</td>
                            <td>@item.Sector.SectorName</td>
                            <td>@item.Domain</td>
                            <td>@item.Year</td>
                            <td>@item.DataItem</td>
                            <td>@item.Value</td>
                            <td>@item.CV</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-warning btn-sm">
                                        @Html.ActionLink("Edit", "Edit", "Commodities", new { id = item.CommodityID })
                                    </button> &nbsp
                                    <button class="btn btn-danger btn-sm">
                                        @Html.ActionLink("Delete", "Delete", "Commodities", new { id = item.CommodityID })
                                    </button>
                                </div>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>

</body>

<footer class="border-top footer text-muted">
    <div class="container" style="color: white">
        &copy; 2021 - AgriculturalStatistics - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>