
@model IEnumerable<Commodity>
@{
    ViewBag.Title = "Vegetables";
}
<div>Index</div>

<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Vegetables</h3>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.CommodityID)</th>
            <th>@Html.DisplayNameFor(e => e.CommodityName)</th>
            <th>@Html.DisplayNameFor(e => e.Group.GroupName)</th>
            <th>@Html.DisplayNameFor(e => e.Sector.SectorName)</th>
            <th>@Html.DisplayNameFor(e => e.DataItem)</th>
            <th>@Html.DisplayNameFor(e => e.Value)</th>
            <th>@Html.DisplayNameFor(e => e.CV)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IEnumerable<Commodity>)ViewData["Vegetables"])
        {
            <tr>
                <td>@item.CommodityID</td>
                <td>@item.CommodityName</td>
                <td>@item.Group.GroupName</td>
                <td>@item.Sector.SectorName</td>
                <td>@item.DataItem</td>
                <td>@item.Value</td>
                <td>@item.CV</td>
                <td>
                    @Html.ActionLink("Edit", "Edit","Commodities", new { id = item.CommodityID }) |
                    @Html.ActionLink("Delete", "Delete", "Commodities",new { id = item.CommodityID })
                </td>
            </tr>

        }
    </tbody>
</table>

